*customization:	-color
Xft.antialias:	1
Xft.dpi:	96
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.rgba:	none

XScreenSaver*Dialog.headingFont:            *-terminus-medium-r-*-*-*-120-*-*-*-iso8859-1
XScreenSaver*Dialog.bodyFont:               *-terminus-medium-r-*-*-*-120-*-*-*-iso8859-1
XScreenSaver*Dialog.labelFont:              *-terminus-medium-r-*-*-*-120-*-*-*-iso8859-1
XScreenSaver*Dialog.unameFont:              *-terminus-medium-r-*-*-*-120-*-*-*-iso8859-1
XScreenSaver*Dialog.buttonFont:             *-terminus-medium-r-*-*-*-120-*-*-*-iso8859-1
XScreenSaver*Dialog.dateFont:               *-terminus-medium-r-*-*-*-80-*-*-*-iso8859-1
! Helvetica asterisks look terrible.
!*passwd.passwdFont:            *-terminus-medium-r-*-*-*-140-*-*-*-iso8859-1
XScreenSaver*passwd.passwdFont:             *-terminus-medium-r-*-*-*-120-*-*-*-iso8859-1

XScreenSaver*Dialog.foreground:             #8ae234
XScreenSaver*Dialog.background:             #161616
XScreenSaver*Dialog.Button.foreground:      #8ae234
XScreenSaver*Dialog.Button.background:      #161616
!*Dialog.Button.pointBackground: #EAEAEA
!*Dialog.Button.clickBackground: #C3C3C3
XScreenSaver*Dialog.text.foreground:        #8ae234
XScreenSaver*Dialog.text.background:        #161616
XScreenSaver*passwd.thermometer.foreground: #8ae234
XScreenSaver*passwd.thermometer.background: #383838
XScreenSaver*Dialog.topShadowColor:         #161616
XScreenSaver*Dialog.bottomShadowColor:      #161616
XScreenSaver*Dialog.logo.width:             0
XScreenSaver*Dialog.logo.height:            0
XScreenSaver*Dialog.internalBorderWidth:    24
XScreenSaver*Dialog.borderWidth:            0
XScreenSaver*Dialog.shadowThickness:        0

XScreenSaver*passwd.heading.label:          XScreenSaver %s
XScreenSaver*passwd.body.label:             Please enter your password.
XScreenSaver*passwd.unlock.label:           OK
XScreenSaver*passwd.login.label:            New Login
XScreenSaver*passwd.user.label:             Username:
XScreenSaver*passwd.passwd.label:           Password:
XScreenSaver*passwd.thermometer.width:      3
XScreenSaver*passwd.asterisks:              True
XScreenSaver*passwd.uname:                  True

XScreenSaver*splash.heading.label:          XScreenSaver %s
XScreenSaver*splash.body.label:             Copyright © 1991-2010 by
XScreenSaver*splash.body2.label:            Jamie Zawinski <jwz@jwz.org>
XScreenSaver*splash.demo.label:             Settings
XScreenSaver*splash.help.label:             Help

! URXVT stuff

! transparency - true or false (default)
URxvt*transparent: true

urxvt*termName: rxvt-unicode

! tint with any color; i.e., blue, red, tomato4, olivedrab2, etc.
!   some nice listings are at:
!     http://www.nisrv.com/drupal/?q=node/11
!     http://www.htmlgoodies.com/tutorials/colors/article.php/3478921
!URxvt*tintColor: Blue

! shading - 0 to 99 darkens, 101 to 200 lightens.
!   Dont use with tintColor; just use a darker or lighter color instead.
URxvt*shading: 10

! scrollback buffer lines - 65535 is max on most machines (64 is default)
!URxvt*saveLines: 12000
URxvt*saveLines: 0

! change default colors
URxvt*background: #000000
URxvt*foreground: #AAAAAA
URxvt*scrollColor: #00FF00

!URxvt*colorBD: #FFFFFF
!URxvt*colorIT: #FFFFFF
!URxvt*underlineColor: #888888

URxvt*color0:  #000000
URxvt*color1:  #CC0000
URxvt*color2:  #4E9A06
URxvt*color3:  #C4A000
URxvt*color4:  #3465A4
URxvt*color5:  #75507B
URxvt*color6:  #06989A
URxvt*color7:  #D3D7CF
URxvt*color8:  #555753
URxvt*color9:  #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #34E2E2
URxvt*color15: #EEEEEC


! Xft: Terminus fonts
!  Fedora/debian packages: terminus-fonts/xfonts-terminus
!URxvt*font: xft:terminus:pixelsize=15
!URxvt*boldFont: xft:terminus:bold:pixelsize=15

! Xft-less:
URxvt*font: terminus-14
URxvt*boldFont: terminus-bold-14
URxvt*italicFont: -xos4-terminus-medium-o-normal--14-120-72-72-c-60-iso10646-1
URxvt*boldItalicFont: -xos4-terminus-bold-o-normal--0-0-72-72-c-0-iso10646-1

URxvt*internalBorder: 0

URxvt.perl-ext-common: default,matcher,vtwheel
URxvt.matcher.button: 1

URxvt.urgentOnBell: True

URxvt.secondaryScroll: false
URxvt.secondaryScreen: false

! scrollbar - true (default) or false
URxvt*scrollBar: false

! scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: true

! scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt*thickness: 5

URxvt*pastableTabs: true
